SESSION_SECRET=thay-bang-chuoi-ngau-nhien-50-ky-tu

MSSQL_HOST=localhost
MSSQL_PORT=1433
MSSQL_DB=FinSmartDB
MSSQL_USER=sa
MSSQL_PASSWORD=MatKhauCuaBan@123
MSSQL_TRUSTED_CONNECTION=no
MSSQL_DRIVER=ODBC Driver 18 for SQL Server
MSSQL_ENCRYPT=yes
MSSQL_TRUST_SERVER_CERTIFICATE=yes

GROQ_API_KEY=gsk_xxxxxxxxxxxxxxxxxxxx
